<%- include("partials/header") %>

<div class="ui main text container segment">
	<div class="ui huge header">Edit Order <%= order.customerName %> </div>
	<form class="ui form " action="/order/<%= order._id %>?_method=PUT" method="POST">
		
		<div class="field">
			<label>Customer Name</label>
			<input type="text" name="customerName" value="<%= order.customerName %>">
		</div>
		<div class="field">
			<label>Product Name</label>
			<select type="text" name="productName" value= "<%= order.productName %>" >
				<option value="<%= order.productName %>" selected> <%= order.productName %> (เดิม)</option> 
				<option value="O-mon">O-mon</option> 
				<option value="โทรสั่ง">โทรสั่ง</option> 
				<option value="ถั่งเช่า">ถั่งเช่า</option> 
				<option value="แชมพู">แชมพู</option> 
			</select>
		</div>
		<div class="field">
			<label>Track Number</label>
			<input type="text" name="barcode" value="<%= order.barcode %>">
		</div>
		<div class="field">
			<label>Status</label>
			<select class="ui fluid dropdown" name="status" >
				<option value="<%= order.status %>" selected><%= order.status %> (เดิม)</option> 
				<option value="นำจ่ายไม่สำเร็จ">นำจ่ายไม่สำเร็จ</option> 
				<option value="นำจ่ายสำเร็จ">นำจ่ายสำเร็จ</option> 
				<option value="อยู่ระหว่างการขนส่ง">อยู่ระหว่างการขนส่ง</option> 
				<option value="อยู่ระหว่างการนำจ่าย">อยู่ระหว่างการนำจ่าย</option> 
			</select>
		</div>
		<div class="field">
			<label>Province</label>
			<select class="ui fluid dropdown" name="province" value= "<%= order.province %>">
				  <option value="<%= order.province %>" selected><%= order.province %> (เดิม) </option>
				  <option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
				  <option value="กระบี่">กระบี่ </option>
				  <option value="กาญจนบุรี">กาญจนบุรี </option>
				  <option value="กาฬสินธุ์">กาฬสินธุ์ </option>
				  <option value="กำแพงเพชร">กำแพงเพชร </option>
				  <option value="ขอนแก่น">ขอนแก่น</option>
				  <option value="จันทบุรี">จันทบุรี</option>
				  <option value="ฉะเชิงเทรา">ฉะเชิงเทรา </option>
				  <option value="ชัยนาท">ชัยนาท </option>
				  <option value="ชัยภูมิ">ชัยภูมิ </option>
				  <option value="ชุมพร">ชุมพร </option>
				  <option value="ชลบุรี">ชลบุรี </option>
				  <option value="เชียงใหม่">เชียงใหม่ </option>
				  <option value="เชียงราย">เชียงราย </option>
				  <option value="ตรัง">ตรัง </option>
				  <option value="ตราด">ตราด </option>
				  <option value="ตาก">ตาก </option>
				  <option value="นครนายก">นครนายก </option>
				  <option value="นครปฐม">นครปฐม </option>
				  <option value="นครพนม">นครพนม </option>
				  <option value="นครราชสีมา">นครราชสีมา </option>
				  <option value="นครศรีธรรมราช">นครศรีธรรมราช </option>
				  <option value="นครสวรรค์">นครสวรรค์ </option>
				  <option value="นราธิวาส">นราธิวาส </option>
				  <option value="น่าน">น่าน </option>
				  <option value="นนทบุรี">นนทบุรี </option>
				  <option value="บึงกาฬ">บึงกาฬ</option>
				  <option value="บุรีรัมย์">บุรีรัมย์</option>
				  <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์ </option>
				  <option value="ปทุมธานี">ปทุมธานี </option>
				  <option value="ปราจีนบุรี">ปราจีนบุรี </option>
				  <option value="ปัตตานี">ปัตตานี </option>
				  <option value="พะเยา">พะเยา </option>
				  <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา </option>
				  <option value="พังงา">พังงา </option>
				  <option value="พิจิตร">พิจิตร </option>
				  <option value="พิษณุโลก">พิษณุโลก </option>
				  <option value="เพชรบุรี">เพชรบุรี </option>
				  <option value="เพชรบูรณ์">เพชรบูรณ์ </option>
				  <option value="แพร่">แพร่ </option>
				  <option value="พัทลุง">พัทลุง </option>
				  <option value="ภูเก็ต">ภูเก็ต </option>
				  <option value="มหาสารคาม">มหาสารคาม </option>
				  <option value="มุกดาหาร">มุกดาหาร </option>
				  <option value="แม่ฮ่องสอน">แม่ฮ่องสอน </option>
				  <option value="ยโสธร">ยโสธร </option>
				  <option value="ยะลา">ยะลา </option>
				  <option value="ร้อยเอ็ด">ร้อยเอ็ด </option>
				  <option value="ระนอง">ระนอง </option>
				  <option value="ระยอง">ระยอง </option>
				  <option value="ราชบุรี">ราชบุรี</option>
				  <option value="ลพบุรี">ลพบุรี </option>
				  <option value="ลำปาง">ลำปาง </option>
				  <option value="ลำพูน">ลำพูน </option>
				  <option value="เลย">เลย </option>
				  <option value="ศรีสะเกษ">ศรีสะเกษ</option>
				  <option value="สกลนคร">สกลนคร</option>
				  <option value="สงขลา">สงขลา </option>
				  <option value="สมุทรสาคร">สมุทรสาคร </option>
				  <option value="สมุทรปราการ">สมุทรปราการ </option>
				  <option value="สมุทรสงคราม">สมุทรสงคราม </option>
				  <option value="สระแก้ว">สระแก้ว </option>
				  <option value="สระบุรี">สระบุรี </option>
				  <option value="สิงห์บุรี">สิงห์บุรี </option>
				  <option value="สุโขทัย">สุโขทัย </option>
				  <option value="สุพรรณบุรี">สุพรรณบุรี </option>
				  <option value="สุราษฎร์ธานี">สุราษฎร์ธานี </option>
				  <option value="สุรินทร์">สุรินทร์ </option>
				  <option value="สตูล">สตูล </option>
				  <option value="หนองคาย">หนองคาย </option>
				  <option value="หนองบัวลำภู">หนองบัวลำภู </option>
				  <option value="อำนาจเจริญ">อำนาจเจริญ </option>
				  <option value="อุดรธานี">อุดรธานี </option>
				  <option value="อุตรดิตถ์">อุตรดิตถ์ </option>
				  <option value="อุทัยธานี">อุทัยธานี </option>
				  <option value="อุบลราชธานี">อุบลราชธานี</option>
				  <option value="อ่างทอง">อ่างทอง </option>
			</select>
		</div>
		<div class="field">
			<label>Delivered Date</label>
			<input type="text" name="deliverDate" value="<%= order.deliverDate %>">
		</div>
		<div class="field">
			<label>Remarks</label>
			<input type="text" name="remark" value="<%= order.remark %>">
		</div>
		<div class="field">
			<label>Amounts</label>
			<input type="text" name="amount" value="<%= order.amount %>">
		</div>
		<div class="field">
			<label>Admin</label>
			<input type="text" name="admin" value="<%= order.admin %>">
		</div>
		<div class="field">
			<label>Payment</label>
			<input type="text" name="payment" value="<%= order.payment %>">
		</div>
		<div class="field">
			<label>Created Date</label>
			<input type="text" name="created" value="<%= order.created.toDateString() %>">
		</div>

		<input class="ui violet big basic button" type="submit" >
	</form>
</div>

<%- include("partials/footer") %>